<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.despectra.githubrepoview" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".App">
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FriendsActivity"
            android:label="@string/title_activity_friends" >
        </activity>
        <activity
            android:name=".activities.UserReposActivity"
            android:label="@string/title_activity_user_repos"
            android:parentActivityName=".activities.FriendsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.FriendsActivity" />
        </activity>
        <activity
            android:name=".activities.RepoActivity"
            android:parentActivityName=".activities.UserReposActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.UserReposActivity" />
        </activity>
    </application>

</manifest>
